<div class="container"> 
    <h2>Salvar Cliente</h2>
    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="nome">Nome</label>
            <input type="text" placeholder="Informe o nome"         
            class="form-control"   
            required            
            name="nome"
            [(ngModel)]="cliente.nome">            
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" placeholder="Informe o email"
            class="form-control"
            required            
            name="email"
            [(ngModel)]="cliente.email">                   
        </div>
        <div class="form-group">
            <label for="telefone">Telefone</label>
            <input type="text" placeholder="Informe o telefone"
            class="form-control"
            required            
            name="telefone"
            [(ngModel)]="cliente.telefone">                
        </div>
        <button type="submit" class="btn btn-success">Salvar</button>
        <a class="btn btn-secondary" routerLink="/">Voltar</a>
    </form>
</div>